//  我的購物車
.back-to-shop {
    overflow: auto;
    border-bottom: 2px dashed $themecolor;
    padding: 0 20px 20px;
    transform: translateY(-20px);
    @include breakpoint(mobile) {
        transform: translateY(-25px);
    }
    a {
        background-color: RGB(100, 164, 48);
        float: right;
        &:hover {
            background-color: RGB(100, 164, 48);
        }
    }
}

.cart-list {
    ul {
        li.list-content {
            padding: 30px 0;
            border-bottom: 1px dashed $gray;
            &:last-child {
                border-bottom: 0;
            }
            ul {
                font-size: 0;
                li {
                    font-size: 1rem;
                    display: inline-block;
                    padding: 0 10px;
                    width: calc((100% - 50px) / 5);
                    box-sizing: border-box;
                    text-align: center;
                    @include breakpoint(pad) {
                        width: 100%;
                        text-align: left;
                        padding: 10px 0;
                    }
                    .remove {
                        @extend %remove;
                    }
                    &:nth-child(1) {
                        width: 50px;
                    }
                    &:last-child {
                        text-align: right;
                        padding-right: 20px;
                    }
                    button {
                        min-width: 120px;
                    }
                }
            }
        }
    }
}

// 結帳資料
.shipping-content {
    padding: 30px 0;
    min-height: 500px;
    @include breakpoint(pad) {
        padding-top: 0;
    }
    .container {
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            >div {
                width: 50%;
                padding: 0 20px;
                box-sizing: border-box;
                @include breakpoint(pad) {
                    width: 100%;
                    padding: 0;
                }
                h4 {
                    line-height: 200%;
                    input {
                        @include custom_select;
                        outline: 1px solid $gray;
                        line-height: 150%;
                        padding-left: 15px;
                        width: 60%;
                        box-sizing: border-box;
                        @include breakpoint(pad) {
                            width: 100%;
                        }
                    }
                }
            }
            .transport-select {
                ul {
                    margin-top: 20px;
                    margin-left: 40px;
                    li {
                        margin-bottom: 10px;
                    }
                }
                .main-btn {
                    margin-left: 30px;
                }
            }
            .right {
                button {
                    float: right;
                }
                .discount-val {
                    max-width: 80px;
                    @include custom_select;
                    outline: 1px solid $gray;
                    line-height: 150%;
                    margin: 0 5px;
                }
            }
        }
    }
}