@import "_mixin.scss";
@import "_color.scss";
#footer {
    .footer-menu {
        box-shadow: rgba(180, 180, 180, 0.3) 0px 1px 10px 2px;
        overflow: auto;
        padding: 20px 0px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .logo {
                width: 160px;
            }
            .menu {
                @include breakpoint(mobile) {
                    text-align: right;
                }
                li {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 150%;
                    border-right: 1px solid #000;
                    font-weight: bold;
                    @include breakpoint (mobile) {
                        border: 0;
                    }
                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }
    .bottom {
        padding: 10px 0;
        background: $maincolor;
        color: #fff;
        text-align: center;
    }
}