@import "_mixin.scss";
@import "_color.scss";
#header {
    position: relative;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
    // z-index: 10;
    // background: #fff;
    .top {
        background: $maincolor;
        min-height: 40px;
        box-sizing: border-box;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include breakpoint(mobile) {
                padding: 0 20px;
            }
            .ham-menu {
                padding: 10px 0;
                @include breakpoint(mobile) {
                    .menu-bars {
                        width: 20px;
                        height: 20px;
                        .bar {
                            width: 100%;
                            height: 2px;
                            border-radius: 2px;
                            background: #fff;
                            margin-top: (14px / 3);
                            margin-bottom: (14px / 3);
                            transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        }
                        &.active {
                            transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            .bar:nth-child(1) {
                                opacity: 0;
                            }
                            .bar:nth-child(2) {
                                transform: rotate(45deg) translate3d(-1px, 4px, 0px);
                            }
                            .bar:nth-child(3) {
                                transform: rotate(-45deg) translate3d(1px, -6px, 0px);
                            }
                        }
                    }
                }
                i.fa-bars {
                    color: #fff;
                    display: none;
                    font-size: 20px;
                    @include breakpoint(mobile) {
                        display: inline;
                    }
                }
                .search {
                    position: relative;
                    display: inline-block;
                    font-size: 0;
                    @include breakpoint(mobile) {
                        margin: 20px;
                        @include border-radius(5px);
                        overflow: hidden;
                        border: 1px solid $opacitycolor;
                    }
                    i {
                        position: absolute;
                        top: 2px;
                        left: 13px;
                        color: #666;
                        font-size: 1rem;
                        @include breakpoint(mobile) {
                            left: 3px;
                            padding: 10px;
                            box-sizing: border-box;
                            background: #fff;
                        }
                    }
                    input {
                        border-radius: 20px;
                        @include custom_select;
                        padding-left: 30px;
                        color: rgba( $maincolor, .2);
                        @include breakpoint(mobile) {
                            max-width: 135px;
                            // padding: 10px 10px 10px 35px;
                            padding: 10px;
                            text-align: center;
                            @include border-radius(0);
                        }
                        &+button {
                            display: inline-block;
                            @include border-radius(0);
                        }
                    }
                }
                .hamburger {
                    ul {
                        display: none;
                        @include breakpoint(mobile) {
                            display: block;
                            border-top: 2px solid $opacitycolor;
                            li {
                                &:last-child {
                                    border: 0;
                                }
                            }
                        }
                    }
                    @include breakpoint(mobile) {
                        display: none;
                        position: absolute;
                        top: 45px;
                        left: 0;
                        background-color: #f6f4f2;
                        width: 100%;
                        z-index: 90;
                        text-align: center;
                        // padding: 20px 0;
                        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
                        a {
                            padding: 20px;
                            width: 100%;
                            box-sizing: border-box;
                            display: block;
                            &:hover {
                                background: #e8e6e4;
                            }
                        }
                        &.active {
                            display: block;
                            // opacity: 1;
                        }
                    }
                }
            }
            .member {
                color: #fff;
                padding: 10px 0;
                li {
                    display: inline-block;
                    padding: 0 10px;
                    @include breakpoint(mobile) {
                        padding: 0 5px;
                    }
                    &:first-child {
                        border-right: 1px solid #fff;
                    }
                    a {
                        color: #fff;
                        span {
                            display: inline-block;
                            background: #f00;
                            // padding: 5px;
                            box-sizing: border-box;
                            @include border-radius(50%);
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            font-size: .8rem;
                        }
                    }
                    .login {
                        position: relative;
                        span {
                            background: url('../img/icon_message.svg') 50% 50% no-repeat;
                            border-radius: 0;
                        }
                        .dropdown {
                            display: inline-block;
                            ul {
                                display: none;
                                position: absolute;
                                top: calc(100% + 10px);
                                left: 0;
                                background-color: #000;
                                width: 120%;
                                z-index: 2;
                                li {
                                    text-align: center;
                                    display: block;
                                    padding: 20px 10px;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sub {
        overflow: auto;
        padding: 20px 0;
        box-shadow: 0 1px 10px 2px rgba(180, 180, 180, .3);
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .logo {
                width: 160px;
                @include breakpoint(mobile) {
                    margin: 0 auto;
                    display: block;
                }
            }
            .menu {
                @include breakpoint(mobile) {
                    text-align: right;
                    display: none;
                }
                li {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 150%;
                    border-right: 1px solid #000;
                    font-weight: bold;
                    @include breakpoint (mobile) {
                        border: 0;
                    }
                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }
    #message {
        position: absolute;
        background-color: #fff;
        max-width: 450px;
        min-width: 310px;
        padding: 20px;
        right: 0;
        top: 40px;
        z-index: 100;
        box-sizing: border-box;
        display: none;
        @include border-radius(5px);
        @include box-shadow(2px 5px 10px 1px rgba(0, 0, 0, .3));
        @include breakpoint(pad) {
            max-width: 300px;
        }
        h2 {
            text-align: center;
        }
        ul {
            background: $opacitycolor;
            @include border-radius(5px);
            li {
                font-size: 0;
                padding: 5px 10px;
                box-sizing: border-box;
                &:hover {
                    background-color: darken($opacitycolor, 10%);
                }
                >div {
                    display: inline-block;
                    vertical-align: top;
                    a:hover {
                        text-decoration: underline;
                    }
                }
                .form {
                    width: 100px;
                }
                .message-content {
                    width: calc(100% - 100px);
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .btn-close {
            color: #fff;
            background-color: $maincolor;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 1rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        &.active {
            display: block;
        }
    }
}