@import "_mixin.scss";
@import "_color.scss";
#header {
    .top {
        background: $maincolor;
        padding: 10px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .search {
                position: relative;
                i {
                    position: absolute;
                    top: 2px;
                    left: 13px;
                    color: #666;
                }
                input {
                    border-radius: 20px;
                    @include custom_select;
                    padding-left: 30px;
                    color: rgba( $maincolor, .2);
                    @include breakpoint(mobile) {
                        max-width: 135px;
                    }
                }
            }
            .member {
                color: #fff;
                li {
                    display: inline-block;
                    padding: 0 10px;
                    @include breakpoint(mobile) {
                        padding: 0 5px;
                    }
                    &:first-child {
                        border-right: 1px solid #fff;
                    }
                    a {
                        color: #fff;
                        span {
                            display: inline-block;
                            background: #f00;
                            // padding: 5px;
                            box-sizing: border-box;
                            @include border-radius(50%);
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            font-size: .8rem;
                        }
                    }
                    .login {
                        span {
                            background: url('../img/icon_message.svg') 50% 50% no-repeat;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    .sub {
        overflow: auto;
        padding: 20px 0;
        box-shadow: 0 1px 10px 2px rgba(180, 180, 180, .3);
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .logo {
                width: 160px;
            }
            .menu {
                @include breakpoint(mobile) {
                    text-align: right;
                }
                li {
                    display: inline-block;
                    padding: 0 10px;
                    line-height: 150%;
                    border-right: 1px solid #000;
                    @include breakpoint (mobile) {
                        border: 0;
                    }
                    &:last-child {
                        border: 0;
                    }
                    a {
                        color: $maincolor;
                    }
                }
            }
        }
    }
}