@import "_mixin.scss";
@import "_color.scss";
*,
body,
html {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang TC", Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

body,
html {
    height: 100%;
}

#wrap {
    height: 100%;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 5px;
    line-height: 150%;
    margin-bottom: 10px;
    font-size: 16px;
}

h2,
h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

p {
    margin: 5px 0;
    color: #808080;
}

a {
    color: $maincolor;
}

a:hover {
    color: lighten($maincolor, 50%);
}

input:focus {
    outline: 0;
}

.hidden-md {
    display: none !important;
    @include breakpoint(mobile) {
        display: inline-block !important;
    }
}

// 主要按鈕
.main-btn {
    @include custom_select;
    @include border-radius(5px);
    background: $themecolor;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: $themecolor;
    }
}

.cancel-btn {
    @include custom_select;
    @include border-radius(5px);
    background: transparent;
    color: $gray;
    padding: 10px 20px;
    border: 1px solid $gray;
    cursor: pointer;
    &:hover {
        background: $opacitycolor;
        color: $gray;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    @include breakpoint(pad) {
        padding: 5px 20px;
    }
}

// 麵包屑
.bread {
    li {
        display: inline-block;
        color: $gray;
        &:after {
            content: '/';
            display: inline;
            padding-left: 10px;
        }
        &:last-child:after {
            content: '';
        }
    }
}

// 頁碼
.page-num {
    padding: 20px 0;
    ul {
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            margin: 0px 5px;
            vertical-align: bottom;
            a {
                line-height: 120%;
            }
            .arrow-left {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 16px 8px 0;
                border-color: transparent #000000 transparent transparent;
                font-size: 0;
            }
            .arrow-right {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 0 8px 16px;
                border-color: transparent transparent transparent #000000;
                font-size: 0;
            }
        }
    }
}

// rwd圖片
.rwd-img {
    max-width: 100%;
    height: auto;
}

// 數量增加按鈕
.input-number {
    width: 20px;
    padding: 0 5px;
    vertical-align: baseline;
    text-align: center;
    outline: none;
    pointer-events: none;
    border: none;
    @include custom_select;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    height: 30px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    background: $maincolor;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    &:active {
        background: #ddd;
    }
}

.inner-container {
    max-width: 920px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    @include breakpoint(pad) {
        padding: 5px 20px;
    }
}

a.send-msg {
    img {
        width: 20px;
        vertical-align: middle;
    }
}

.displayblock {
    display: block !important;
}