// 會員功能切換ＴＡＢ
.member-tab {
    padding: 20px 0;
    ul.tab {
        li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px 20px;
            background: $gray;
            min-width: 100px;
            text-align: center;
            @include border-radius(5px);
            @include box-sizing(border-box);
            @include breakpoint(mobile) {
                width: calc(100% / 2 - 10px);
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
            &:last-child {
                margin: 0;
            }
            &.active,
            &:hover {
                background: $themecolor;
            }
            a {
                color: #fff;
            }
        }
    }
    ul.sub-tab {
        padding: 20px 0;
        border-bottom: 2px dashed $themecolor;
        li {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;
            font-weight: bolder;
            a {
                span {
                    display: none;
                }
                span.redpoint {
                    display: inline-block;
                    background: #E50000;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    margin-right: 5px;
                }
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}

// 會員訂單共同區域
.member-order {
    ul {
        margin: 20px 0;
        li {
            padding: 10px 20px;
            margin-bottom: 10px;
            background: $opacitycolor;
            color: $gray;
            @include box-sizing(border-box);
            @include border-radius(5px);
            .title {
                border-bottom: 2px dashed $themecolor;
                // padding-bottom: 10px;
                font-size: 0;
                >div {
                    display: inline-block;
                    padding: 5px 10px;
                    box-sizing: border-box;
                }
                span.alert {
                    color: #E50000;
                    font-weight: 500;
                }
                h4 {
                    color: $gray;
                    font-weight: bolder;
                }
            }
            .content {
                padding: 10px 0;
                font-size: 0;
                >div {
                    display: inline-block;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    vertical-align: middle;
                }
                .date {
                    height: 150px;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                h4 {
                    i {
                        color: $secondcolor;
                    }
                }
            }
            .date {
                width: 150px;
            }
            .percent50 {
                width: calc((100% - 330px) / 2);
                @include breakpoint(pad) {
                    width: 100%;
                }
            }
            .share {
                width: 180px;
                .main-btn {
                    width: 100%;
                    box-sizing: border-box;
                    &.fail {
                        background: $secondcolor;
                    }
                }
                @include breakpoint(mobile) {
                    width: 100%;
                }
            }
        }
    }
    // 運送中class
    &.member-order-transport {
        .percent50 {
            width: calc((100% - 160px) / 2);
            @include breakpoint(pad) {
                width: 100%;
            }
            h4 {
                ol {
                    display: inline-block;
                    vertical-align: middle;
                    background: $secondcolor;
                    height: 8px;
                    width: 150px;
                    margin-right: 20px;
                    @include breakpoint(mobile) {
                        display: block;
                        margin: 15px auto;
                        +span {
                            display: block;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    li {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        padding: 0;
                        background-color: $secondcolor;
                        margin-bottom: 0;
                        transform: translateY(-5px);
                        @include border-radius(50%);
                        &:nth-child(1) {
                            transform: translateX(-5px) translateY(-6px);
                        }
                        &:nth-child(2) {
                            transform: translateX(20px) translateY(-6px);
                        }
                        &:nth-child(3) {
                            transform: translateX(85px) translateY(-6px);
                        }
                        &.now {
                            background-color: $themecolor;
                        }
                    }
                }
            }
        }
    }
    // 評論頁class
    &.member-order-comment {
        .date {
            @include breakpoint(pad) {
                width: 100%;
            }
            img {
                @include breakpoint(pad) {
                    width: 150px !important;
                    height: 150px !important;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .comment-form {
            width: calc(100% - 150px);
            @include breakpoint(pad) {
                width: 100%;
            }
            >div {
                display: inline-block;
            }
            .percent50 {
                width: 50%;
                @include breakpoint(pad) {
                    width: 100%;
                }
                b {
                    font-weight: bolder;
                }
                i {}
            }
            .my-comment {
                width: calc(100% - 180px);
                padding-right: 25px;
                box-sizing: border-box;
                @include breakpoint(pad) {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 10px;
                }
                input {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    @include border-radius(5px);
                    @include custom_select;
                    border: 1px solid $secondcolor;
                    color: $secondcolor;
                }
            }
        }
    }
    &.member-order-history {
        li {
            position: relative;
            .title {
                border: 0;
                &.active {
                    border-bottom: 2px dashed $themecolor;
                    .toggle {
                        h4 {
                            background: url('../img/toggle.svg')0px -30px no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
            .content {
                display: none;
            }
            .toggle {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                &:hover {
                    opacity: .6;
                }
                h4 {
                    width: 30px;
                    height: 30px;
                    background: url('../img/toggle.svg')0px 0px no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}