@mixin breakpoint($point) {
    @if $point==pc {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
    @else if $point==pad {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 467px) {
            @content;
        }
    }
}

@mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 1000;
    // display: none;
    box-sizing: border-box;
    overflow-y: scroll;
    text-align: center;
}

// 客製化input
@mixin custom_select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
}

// 瀑布流隔線
@mixin flex-colum($column, $gap) {
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    @include column-count($column);
    @include column-gap($gap);
}

@mixin triangle($t_width) {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($t_width) ($t_width) 0 ($t_width);
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    pointer-events: none;
}

// icon
%item-icon {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 5px;
}

// 移除鈕
%remove {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 5px;
    text-align: center;
    background-color: $maincolor;
    @include border-radius(50%);
    color: #fff;
    cursor: pointer;
}