            // 商品頁面
            .shop-block {
                font-size: 0;
                margin: 40px 0;
                @include breakpoint(mobile) {
                    margin: 20px 0;
                }
                .shop-content {
                    display: inline-block;
                    vertical-align: top;
                    // 商品左方區塊
                    &.shop-content-left {
                        width: calc(75% - 50px / 2);
                        margin-right: 50px;
                        @include breakpoint(pad) {
                            width: 100%;
                            margin-right: 0;
                        }
                        .thumbnail-main {
                            width: 100%;
                        }
                        // 訂購商品
                        .shop-order {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 20px 0;
                            justify-content: space-between;
                            >div {
                                border: 1px solid #CCCCCC;
                                padding: 15px;
                                @include border-radius(3px);
                                &.left {
                                    flex: 6;
                                    margin-right: 15px;
                                    @include breakpoint(mobile) {
                                        flex: none;
                                        width: 100%;
                                        box-sizing: border-box;
                                    }
                                }
                                &.right {
                                    flex: 4;
                                    @include breakpoint(mobile) {
                                        flex: none;
                                        width: 100%;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                            #times {
                                letter-spacing: 2px;
                                span {
                                    color: $secondcolor;
                                }
                            }
                            h4 {
                                color: $gray;
                            }
                            h5 {
                                font-size: 13px;
                            }
                            a {
                                color: #f00;
                                text-decoration: underline;
                            }
                            label {
                                margin-top: 5px;
                                display: block;
                                font-size: 1rem;
                                color: #808080;
                                margin-bottom: 10px;
                                span {
                                    color: $maincolor;
                                    font-size: 110%;
                                }
                            }
                            .left {
                                p {
                                    span {
                                        margin: 0 5px;
                                    }
                                }
                            }
                            .right {
                                >div {
                                    display: inline-block;
                                    width: calc(100% / 2 - 8px / 2);
                                    &>p {
                                        font-size: 13px;
                                    }
                                    &.sold {
                                        text-align: right;
                                        &+p {
                                            text-align: right;
                                        }
                                    }
                                }
                                .important-val {
                                    font-size: 40px;
                                    color: $secondcolor;
                                    letter-spacing: 3px;
                                }
                                // 進度條
                                .progress {
                                    width: 100%;
                                    height: 8px;
                                    margin: 10px 0 20px;
                                    background-color: #ccc;
                                    @include border-radius(8px);
                                    overflow: hidden;
                                    .sold-bar {
                                        background: $themecolor;
                                        height: 8px;
                                        @include border-radius(8px);
                                    }
                                }
                                // 進度比較表
                                .progress-num {
                                    width: 100%;
                                    margin-bottom: 20px;
                                    ul {
                                        display: flex;
                                        li {
                                            flex: 1;
                                            background: $backcolor;
                                            p {
                                                text-align: center;
                                            }
                                            &.now {
                                                border: 2px solid $themecolor;
                                                position: relative;
                                                p {
                                                    color: $themecolor;
                                                }
                                                &:before {
                                                    content: '';
                                                    position: absolute;
                                                    width: 0;
                                                    height: 0;
                                                    border-style: solid;
                                                    border-width: 0 10px 10px 10px;
                                                    border-color: transparent transparent $themecolor transparent;
                                                    top: -17px;
                                                    left: calc(50% - 10px);
                                                }
                                            }
                                        }
                                    }
                                }
                                .main-btn {
                                    width: 100%;
                                }
                                // 團購商品
                                h3 {
                                    font-size: 1rem;
                                    b {
                                        margin: 0 10px;
                                    }
                                    &:before {
                                        @extend %item-icon;
                                        background: url('../img/icon_focus.svg')50% 50% no-repeat;
                                    }
                                }
                                span+button.main-btn {
                                    width: auto;
                                    margin-left: 20px;
                                }
                            }
                            // 團購商品距離目標
                        }
                        // 商品介紹及評價
                        .shop-item-content {
                            margin-top: 40px;
                            .tab {
                                border-bottom: 4px solid #808080;
                                ul {
                                    li {
                                        display: inline-block;
                                        padding: 0 20px;
                                        cursor: pointer;
                                        h2 {
                                            margin: 0;
                                            color: $gray;
                                            &.select {
                                                color: $maincolor;
                                            }
                                        }
                                        margin-bottom: 10px;
                                    }
                                    li:nth-child(1) {
                                        padding-left: 0;
                                        border-right: 1px solid $maincolor;
                                    }
                                }
                            }
                            .item-editor {
                                margin: 40px 0;
                                display: none;
                            }
                            .item-comment {
                                margin: 40px 0;
                                display: none;
                                .comments {
                                    li {
                                        padding: 20px 0;
                                        vertical-align: top;
                                        .user-img {
                                            border-radius: 50%;
                                            display: inline-block;
                                            overflow: hidden;
                                            vertical-align: top;
                                            width: 10%;
                                        }
                                        .user-comments {
                                            width: 90%;
                                            display: inline-block;
                                            vertical-align: top;
                                            padding: 0 20px;
                                            box-sizing: border-box;
                                            p {
                                                i {
                                                    color: $maincolor;
                                                    margin-right: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // 相關商品
                    &.shop-content-right {
                        width: calc(25% - 50px / 2);
                        @include breakpoint(pad) {
                            width: 100%;
                        }
                        .relative-item-title {
                            margin-top: 0;
                            // width: 100px;
                            // border-bottom: 4px solid $gray;
                            padding-bottom: 10px;
                            a {
                                background-image: linear-gradient(to bottom, #999 0%, #999 100%);
                                background-position: 0 1.4em;
                                background-repeat: no-repeat;
                                overflow: hidden;
                                padding-bottom: 10px;
                            }
                        }
                        .shop-list {
                            border-top: 0;
                            padding-top: 0;
                            ul {
                                @include flex-colum(1,
                                10px);
                                @include breakpoint(pad) {
                                    @include flex-colum(2,
                                    10px);
                                }
                                @include breakpoint(mobile) {
                                    @include flex-colum(1,
                                    10px);
                                }
                            }
                        }
                    }
                    // 商品訂購資料
                }
                .thumbnail {
                    margin-top: 5px;
                    li {
                        cursor: pointer;
                        display: inline-block;
                        width: calc(100% / 4 - 15px / 4);
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                // 團購商品頁面
                .master-info {
                    h4 {
                        display: inline-block;
                        color: $gray;
                        margin-right: 20px;
                        margin-top: 0;
                        i {
                            margin: 0 10px;
                            color: $maincolor;
                            &+span {
                                color: $maincolor;
                            }
                        }
                        ul {
                            display: inline-block;
                            vertical-align: middle;
                            li {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                        }
                        &:last-child {
                            float: right;
                            margin-right: 0;
                            @include breakpoint(mobile) {
                                float: none;
                            }
                        }
                    }
                    clear: both;
                }
                .goal {
                    padding: 10px 0;
                    border-top: 2px dashed $themecolor;
                    h3 {
                        display: inline-block;
                        margin-right: 30px;
                    }
                    button {
                        @include custom_select;
                        background-color: $secondcolor;
                        color: #fff;
                        border-radius: 5px;
                        padding: 5px 15px;
                        float: right;
                        margin-top: 5px;
                    }
                }
            }