@import "compass/css3";
@import "_reset.scss";
@import "_color.scss";
@import "_layout.scss";
@import "_header.scss";
@import "_mixin.scss";
@import "_footer.scss";
@import "_lightbox.scss";
//  各頁css
@import "_shop.scss";
@import "_cart.scss";
@import "_mystore.scss";
@import "_member.scss";
@import "_contact.scss";
@import "_help.scss";
#content {
    // margin-top: 133px;
    padding: 40px 0 0;
    @media screen and (min-width: 1024px) {
        min-height: calc(100vh - 302px);
    }
}

// 首頁
.select-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    // 地圖或清單選擇鈕
    .select-mode {
        display: inline-block;
        vertical-align: baseline;
        @include breakpoint(mobile) {
            align-self: center;
        }
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0 10px;
            &:nth-child(1) {
                border-right: 2px solid $secondcolor;
            }
            @include breakpoint(mobile) {
                padding: 0 5px;
            }
            &:hover {
                svg.not-select .cls-1 {
                    fill: $secondcolor;
                }
            }
            svg .cls-1 {
                fill: $secondcolor;
            }
            svg.not-select .cls-1 {
                fill: #999;
            }
        }
    }
    //篩選內容
    .select-content {
        display: inline-block;
        vertical-align: baseline;
        // 地區篩選
        .area-select {
            .select-country,
            .select-country-area {
                display: inline-block;
                position: relative;
                &:after {
                    @include triangle(7px);
                    right: 20px;
                    top: 15px;
                }
            }
            select {
                color: white;
                line-height: 200%;
                padding: 5px 30px;
                padding-right: 55px;
                background-color: $secondcolor;
                border: 0px solid;
                @include custom_select;
                // margin-right: 5px;
            }
        }
        @include breakpoint(mobile) {
            margin-bottom: 10px;
        }
    }
}

// 商品列表
.shop-list {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px dashed $themecolor;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin-top: 10px;
        padding-top: 10px;
    }
    ul {
        // 瀑布流隔線 _mixin.scss
        @include flex-colum(4, 10px);
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 12px;
            overflow: hidden;
            display: inline-block;
            padding: 20px;
            background: $backcolor;
            box-sizing: border-box;
            margin-bottom: 10px;
            border-radius: 5px;
            transition: .2s;
            flex-basis: calc(100% / 4 - 10px * 3 / 4);
            margin-right: 10px;
            &:nth-child(4n) {
                margin-right: 0px;
            }
            @include breakpoint(pad) {
                &:nth-child(even) {
                    margin-right: 0px;
                }
                flex-basis: calc(100% / 2 - 10px);
            }
            @include breakpoint(mobile) {
                flex-basis: calc(100%);
            }
            &:hover {
                box-shadow: 0px 0px 8px 1px rgba(100, 100, 100, 0.3);
            }
            img {
                width: 100%;
                transition: .2s;
                &:hover {
                    opacity: .6;
                }
            }
            button {
                background-color: transparent;
                @include custom_select;
                border-radius: 3px;
                border: 1px solid #000;
                float: right;
                transition: .2s;
                cursor: pointer;
                &:hover {
                    background-color: $maincolor;
                    color: #fff;
                }
            }
        }
    }
    // 注目商品
    .focus-item {
        h3 {
            &:before {
                @extend %item-icon;
                background: url('../img/icon_focus.svg')50% 50% no-repeat;
            }
        }
    }
    // 已達標商品
    .ahead-item {
        h3 {
            color: #f00;
            &:before {
                @extend %item-icon;
                background: url('../img/icon_ahead.svg')50% 50% no-repeat;
            }
        }
    }
}

//地圖
.map-shop-list {
    border-top: 2px dashed RGB(229, 178, 61);
    margin: 20px 0;
    padding: 20px 0;
}

#map {
    height: 600px;
    width: 100%;
}